@import 'fonts/fonts.scss';

/* ------ general -------*/
body {
  font-family: 'Poppins';
}

.text-center {
  text-align: center
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.link-icon {
  margin-left: .25rem;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
}

.link {
  color: #181d20;
  text-decoration-color: #181d20;
  margin: 0 5px
}

.button-round {
  border-radius: 20px
}

/* ------ element-plus overrides -------*/
/* ------ root variables -------*/
:root {
  --el-menu-active-color: #181d20;
  --el-menu-text-color: #89959e;
  --el-text-color-regular: #000000;
  --el-menu-hover-text-color: #181d20;
  --el-menu-hover-bg-color: #E6E8EB;
}

/* ------ el-backtop -------*/
.el-backtop {
  --el-backtop-bg-color: #E6E8EB;
  --el-backtop-text-color: #181d20;
  --el-backtop-hover-bg-color: #89959e;
}

/* ------ el-button -------*/
.el-button {
  --el-button-hover-text-color: #181d20;
  --el-button-hover-bg-color: #E6E8EB;
  --el-button-hover-border-color: #606266;
  --el-button-text-color: #606266;
  --el-button-active-text-color: #181d20;
  --border-radius: 20px
}

.el-button--info.is-plain {
  --el-button-text-color: #606266;
}

/* ------ el-menu -------*/
.el-menu--horizontal {
  border-bottom: none
}

.el-menu--horizontal>.el-menu-item {
  border-bottom: none
}

.el-menu--horizontal>.el-menu-item.is-active {
  border-bottom: none
}

/* ------ el-carousel -------*/
.el-carousel__arrow {
  color: #181d20;
}

/* -------- Dark mode --------- */
html.dark {
  --el-menu-active-color: #ffffff;
  --el-menu-hover-bg-color: #909399;
}

html.dark .el-button--info.is-plain {
  --el-button-text-color: #F0F2F5;
}

html.dark .link {
  color: #ffffff;
  text-decoration-color: #ffffff;
  margin: 0 5px
}